@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* ---- utility classes -- */
.flex{
    display: flex;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap{
    gap: 8px;
}

/* --- .alert ---- */
.alert {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    padding: 1.1rem 1rem;
    visibility: hidden;
    pointer-events: none;
}

.alert.active {
    visibility: visible;
    pointer-events: auto;
}

.alert p {
    line-height: 23px;
}

/* ---- .container ---- */
.container {
    max-width: 610px;
    width: 100%;
    margin: 20px auto;
    padding: 0px .5rem;

}

.container h1 {
    text-align: center;
    margin-bottom: 22px;
}

.container h1 span {
    color: #0d6efd;
}

/* ----- form styling ----- */

.form {
    width: 100%;
}

.form div{
    margin-bottom: 10px;
}

.form label {
    display: block;
    margin: 5px 0px;
    font-size: 20px;
    color: #262626;
    font-weight: 500;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #212529;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    
}

input:focus{
    border-color: #0d6efd;
}

.btn{
    padding: .7rem 2rem;
    border: none;
    background-color: #212529;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.btn:active{
    transform: scale(.9);
}


/* ------ note-content --- */

.note-content{
    width: 100%;
    height: 310px;
    overflow-y: auto;
    margin-top: 10px;
}

.note-content::-webkit-scrollbar{
    width: 0px !important;
}

.line{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 2px;
    background-color: #262626;
    margin-top: 20px;
}

.noData{
    display: block;
    padding: 1rem 0px;
    text-align: center;
}

.noData p{
    color: #212529;
    font-size: 18px;
}

.Note{
    padding: .6rem .4rem;
    background-color: #212529;
    margin: 10px 0px;
    color: #fff;
    border-radius: 4px;
}

.Note p{
    line-height: 25px;
    font-size: 16px;
}

.Note i{
    cursor: pointer;
    font-size: 20px;
}